#!/bin/bash

TYPE=$1
NAME=$2
STATE=$3
EIP={{ ipvip }}
INSTANCEID=`/bin/cat /sys/devices/virtual/dmi/id/board_asset_tag`

case $STATE in
    "MASTER") /usr/bin/aws ec2 associate-address --public-ip $EIP --instance-id $INSTANCE_ID; /usr/bin/systemctl start haproxy.service
        exit 0
        ;;
    "BACKUP") /usr/bin/aws ec2 disassociate-address --public-ip $EIP; /usr/bin/systemctl stop haproxy.service
        exit 0
        ;;
    "FAULT")  /usr/bin/aws ec2 disassociate-address --public-ip $EIP; /usr/bin/systemctl stop haproxy.service
        exit 0
        ;;
    *)        echo "unknown state"
        exit 1
        ;;
esac