vrrp_script chk_haproxy {
  script "killall -0 sshd"   # verify the pid existance
  interval 2                    # check every 2 seconds
  weight 2                      # add 2 points of prio if OK
}

vrrp_instance VI_1 {
  interface {{ pri_net_int }}                # interface to monitor
  state MASTER
  virtual_router_id 51          # Assign one ID for this route
  priority 101                  # 101 on master, 100 on backup
  unicast_src_ip {{ ipnode1 }}   # Unicast specific option, this is the IP of the interface keepalived listens on
  unicast_peer {                 # Unicast specific option, this is the IP of the peer instance
     {{ ipnode2 }}
   }

  virtual_ipaddress {
      {{ ipvip }}                 # the virtual IP
  }
  notify /usr/local/bin/track.sh
  track_script {
      chk_haproxy
  }

}
